[submodule "src/_micro-api/libraries/WIFIManager"]
	path = src/_micro-api/libraries/WIFIManager
	url = https://github.com/tzapu/WiFiManager.git
	branch = v2.0.17
[submodule "src/_micro-api/libraries/ArduinoJson"]
	path = src/_micro-api/libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
